# Ignorar el entorno virtual
venv/
../venv/

# Ignorar archivo para bajar
src/farmers-protest-tweets-2021-2-4.json

# Archivos de configuración de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de Jupyter Notebook
.ipynb_checkpoints

# Otros archivos que puedes querer ignorar
*.log
*.csv

